.inputContainer {
    flex: 1;
    position: relative;
    margin: 8px 4px;
}

.input {
    height: 36px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    outline: none;
    padding: 0 12px;
    transition: 0.2s;
}

.labelInput {
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #FFF;
    padding: 0 4px;
    font-size: 16px;
    transition: 0.2s;
    user-select: none;
}

.input:focus {
    border: 2px solid #3f51b5;
}

.input:focus ~ .labelInput {
    color: #3f51b5;
}

.input:focus ~ .labelInput,
.input:valid ~ .labelInput {
    top: -6px;
    font-size: 12px;
}