.titleContainer{
    height: 64px;
    display: flex;
    align-items: center;
    user-select: none;
}

.title{
    color: #212121;
    font-size: 18px;
    font-weight: 500;
}

.icon-right{
    margin-right: 16px;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
}

.icon{
    margin: 0 16px;
    cursor: pointer;
}