.card{
    width: 600px;
    margin: auto;
    position: relative;
    bottom: 64px;
    background-color: #FFFF;
    border-radius: 2px;
    display: block;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.20);
    max-width: 100%;
    transition: 0.2s;
}

@media screen and (max-width: 600px) {
    .card {
        top: 0;
        width: 100%;
    }
}